* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.main_box {
    background-image: url(photo.jpg);
    background-size: cover;
    height: 100vh;
}

.btn_one i {
    color: white;
    font-weight: 900;
    font-size: 30px;
    position: absolute;
    left: 13px;
    line-height: 70px;
    transition:all 0.2s linear ;
    cursor: pointer;


} 

.sidebar_menu {
    position:fixed;
    height: 100vh;
    width: 250px;
    background-color: rgba(255, 255, 255,0.1);
    box-shadow: 0 0 6px rgba(255, 255, 255, 0.5);
    left: -300px;
    transition:all 0.2s linear ;
}

.sidebar_menu .logo {
    position:absolute;
    width: 100%;
    left: 1px;
    line-height: 60px;
    box-shadow: 0 5px 6px rgba(255, 255, 255, 0.5);
    height: 60px;
}

.sidebar_menu .logo a{
    position: absolute;
    left: 40px;
    text-decoration: none;
    color: white;
    font-size: 25px;
    font-weight: 600;
}

.sidebar_menu .btn_two i {
    position: absolute;
    left: 235px;
    color: grey;
    line-height: 40px;
    opacity: 0;
    cursor: pointer;
    transition:all 0.2s linear ;

}

.sidebar_menu .menu{
    position: absolute;
    width: 100%;
    top: 73px;
    line-height: 10px;
}

.sidebar_menu .menu li{
    margin-top: 10px;
    padding: 10px 20px;
}

.sidebar_menu .menu li,a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.sidebar_menu .menu i{
    padding-right: 4px;
}

.sidebar_menu .social_media{
    position: absolute;
    left: 30%;
    bottom: 130px;
    
}

.sidebar_menu .social_media i{
    color: white;
    opacity: 0.3;
    padding: 1px;
}

.sidebar_menu .menu li:hover{
    box-shadow: 0 0 6px rgba(255, 255, 255, 0.5);
}

#check{
    display: none;
}

.btn_one i:hover{
    font-size: 40px;
    transition:all 0.2s linear ;

}

.btn_two i:hover{
    font-size: 20px;
}

.sidebar_menu .social_media i:hover{
    opacity: 1;
    font-size: 22px;
}

#check:checked ~ .sidebar_menu{
    left:0;
}

#check:checked ~ .btn_one{
    opacity: 0;
}
#check:checked ~ .sidebar_menu .btn_two i{
    opacity: 1;
}

